# DATA PREPROCESSING USING STOCK PRICE DATASET

# Importing Libraries

In [28]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

# Importing Dataset

In [29]:
df=pd.read_csv('newyork.xlsx.csv')
df.head()

         Date  Open   High        Low      Close  Adj Close      Volume
0  29-06-2010  19.0  25.00  17.540001  23.889999  23.889999  18766300.0
1  30-06-2010   NaN  30.42  23.299999  23.830000  23.830000  17187100.0
2  01-07-2010  25.0    NaN  20.270000  21.959999  21.959999   8218800.0
3  02-07-2010  23.0  23.10  18.709999  19.200001  19.200001   5139800.0
4  06-07-2010  20.0  20.00  15.830000        NaN  16.110001   6866900.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416 entries, 0 to 2415
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2416 non-null   object
 1   Open       2413 non-null   float64
 2   High       2412 non-null   float64
 3   Low        2413 non-null   float64
 4   Close      2412 non-null   float64
 5   Adj Close  2415 non-null   float64
 6   Volume     2414 non-null   float64
dtypes: float64(6), object(1)
memory usage: 132.2+ KB

In [31]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2413.000000,2412.000000,2413.000000,2412.000000,2415.000000,2.414000e+03
mean,186.475906,189.541186,182.916457,186.676078,186.211449,5.576549e+06
std,118.671695,120.233121,116.657427,119.046470,118.785452,4.988098e+06
min,16.139999,16.629999,14.980000,15.800000,15.800000,1.185000e+05
25%,34.410000,34.967500,33.709999,34.417499,34.400002,1.910750e+06
50%,213.100006,216.760002,208.919998,213.184998,212.960007,4.582150e+06
75%,266.450012,270.927513,262.100006,266.865006,266.724991,7.361250e+06
max,673.690002,653.000000,673.520020,780.000000,780.000000,4.706500e+07

In [32]:
x=df.iloc[:,:3].values   #independent variables
x

array([['29-06-2010', 19.0, 25.0],
       ['30-06-2010', nan, 30.42],
       ['01-07-2010', 25.0, nan],
       ...,
       ['30-01-2020', 632.419983, 650.880005],
       ['31-01-2020', 640.0, 653.0],
       ['03-02-2020', 673.690002, nan]], dtype=object)

In [33]:
y=df['Close'].values    #dependent variables
y

array([ 23.889999,  23.83    ,  21.959999, ..., 640.809998, 650.570007,
       780.      ])

# Handling Missing Data

In [34]:
df.isnull().sum()

Date         0
Open         3
High         4
Low          3
Close        4
Adj Close    1
Volume       2
dtype: int64

In [37]:
#imputing by using mean strategy to fill out missing values
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
x

array([['29-06-2010', 19.0, 25.0],
       ['30-06-2010', 186.47590558806465, 30.42],
       ['01-07-2010', 25.0, 189.54118565008292],
       ...,
       ['30-01-2020', 632.419983, 650.880005],
       ['31-01-2020', 640.0, 653.0],
       ['03-02-2020', 673.690002, 189.54118565008292]], dtype=object)

# Encoding Categorical Data

In [41]:
LE=LabelEncoder()
x[:,0]=LE.fit_transform(x[:,0])
y=LE.fit_transform(y)
print(x,"\n","\n","\n",y)

[[2246 19.0 25.0]
 [2319 186.47590558806465 30.42]
 [33 25.0 189.54118565008292]
 ...
 [2301 632.419983 650.880005]
 [2374 640.0 653.0]
 [166 673.690002 189.54118565008292]]


 [ 110  107   71 ... 2218 2219 2220]

# Splitting Up of Dataset into TRAINING & TESTING Data

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=1)

In [48]:
print(x_train,"\n\n\n",x_test)

[[1663 352.0 353.100006]
 [1906 219.770004 222.5]
 [203 347.809998 355.0]
 ...
 [292 240.490005 242.350006]
 [185 29.950001 31.5]
 [1252 255.149994 262.459991]]


 [[756 29.309999 29.940001]
 [1446 241.389999 241.550003]
 [928 364.48999 368.76001]
 ...
 [107 207.330002 209.350006]
 [136 313.950012 316.839996]
 [552 31.6 32.009998]]

In [49]:
print(y_train,"\n\n\n",y_test)

[2015 1171 2085 ... 1366  344 1587]


 [ 337 1340 2154  137 1479 1991 1178  946 1028 1749 2182  502 2162  378
 1689 1578  161  535  773  399 1536 1720  424   61    3 2038 1281  456
 1746   85  339 2049 2111 1455  306 1445  976 1911 1611  522  459  892
 2193  152 2221  174  417  922  806  496 1512 1513 1267 1482 1966 1040
 1424 1008  977  368  779 1936 1889  308 1670 1022  459  682  106 1797
 1884  407  591  840 1275  975  947 2026   23 1564 1014 1335 1180  563
 1545  882  464   47 1398 1042  933 1843 1983  524   30 2132 1572 2116
  697 1962 1734 1484 1528  512 1021 1939 1897 1975  539  479 2091  531
 1167 1620  710  366 1541 1643 1131  899   44 1799  284  125  569  365
 1094 1521  448   34 1209 2144 1187 1657 1566  540 1601   55  791 1111
 1200 1496 1497   45 1658  350 1394 1568  347 1519  359 1019  555 1448
 1313  410  770 1968  572 1906 1209 1458  866 2069  646 1602  172  904
 1829 1785 1220  322  777  153  530 1250  321 2017 1367  124 1441 1304
  255  182 1996 1488  516 1143  626  856 2217 1943 2074  746  671 1530
  627  980 1337 1668  839  720 1207  529  898 1924  912 1972  652 1878
 1965  914  279  857 1031  287  486  631 1928  610 1127 1562  558 1018
  725  257 1986  757 1175 1011 1310 1933 1146 2220 2005  633  272  109
 1440  217  167 1269  643  955 1064 1230 1473  666 1993 2053 1066  618
  664  937  192 2159 1206  463 1717 1799 2148  513  814  597 2041  748
  210  239  575 1715  570 1733  250 1274 1471 2195 1056  844 1302 1263
  544  722 1396  651 1533  686 2105  764  209  741  708  210 1255  494
   72  536 1290  179  210  432 2120 2034 1339   46 1732  861  795 1055
 1034  996  130 1586  295 1771 1584  210 2068  837 1033 1235  357  974
 2032 1053 2042 1949  208  418 2211 1233 2092  843  323 1080 1189  354
  362  363  273 1027 1959 1846 1802  880  451 1567  453 2219  693 1937
 1034 1745 1702  280 1319  702 1219 1049 1457 1059 1395  541  951 1113
 1736 1796 1267 1618  276 2058 1437  197 2205  726 2097 2163  601  838
  454 1495  329  254 1544  628 1671 1514  267 1518 1847 1706  113 2218
  821 1848 1737  352 1192 1942 1600  886  852  426  223  897  422  313
  860  377  711 1210 1852  566 1173 1868  148  343   76  727 2083  158
  118 1168  234 1489 1000 2192 2054 2031 1130 2036 2120   66   54 1490
 1559 1929  507 2059  878  584 1060  754 1798  760 1438  639  605  444
  356 1050 1784  264  445  348  102 1963  484 1426 1735 2153  849 1395
  269 1452 1779  492   39  104 1092  184  146  827 2128 1740  107  218
  703 1428  636 1292  218  913  487 1045  412   89  356 1422  798  490
 1571  177 1334 1561 1804   64  987 1299 2180 2184 1800  421 2033 1381
  599  142 1725 1623 1688  638 1054 1052 1481 2040 2196  828 1851  783
  502 2018 1044  239 2011 1880 1946 1887  263 1651   82  388  500   14
 1157 1590 2108 1723 2043 1204  221 1678 1738 1718  280 1079 1639  289
  281 1043 1957 1752  891  364  157  787 1744 1244  136  255 1769  769
 1349 1516  455  354  715  907  911 1964 1865  921 1526   70  842 1346
  485 1509 2164 1332 1923 1716  847  577    1  841  868  483  324 1676
  989 1938 1123 1767 1205 1293 1886  700  598  286 1870 1121 1821  734
 1026 1216  658 1084 1480 1731  567 1748   36 1640   39 1183 1525 1015
 1763  108  964 1446  211  232 1837 1904  985 1523 2172  642  953  457
  772  382  163  505 1215  294 1994  907  476 1626  846 1234  243 1363
  498 1303  768 1431 1985 1418  573 2165 1894  799 1648 1265  938 2161
 1378 1761   12 1543 1833 1994  677  931 1912  817 1159  952  241  193
 1677  889 1296 2158 1435 1877 2055 1953  962 1862 1322  960 2175 1403
 1241  679 1023 1278 1389  873 1778 1211  384   53  316 1665 1004 1280
 1249 1231  159 1494  314  696 1169 1945  956 1714 2079  154 1343 2067
 1824  225  449  120 2112 1288 1419 1166  554 1793 1892  266  743 1712
 1518 1058 1100 1047  611 1684  493 1162 1719 1057 1087  219  188   91
  959 1358 2134  934  291 1095 1283 1622 1467 1687 2094  155  376 2095
 1984  637  755   16 1839 1069  816  568  246  311  481  826  981 1450
  279  218  548 1934 1456  984  328   88  262 2188   97 1272   28  781
 1826 1436  635 1253 1805 1827 1258  319  596  318   48 1917 1405  553
 1791  334  290  514 1741  275 1286  994 2046 1078 2124 1605  305 1388
 1492 1857  482 1362 1773  261  803 1001 1406 1068  234 1809 1607 1116
  744  341 1747 1197  127  499  617 1320 1947 1216 1789   22  224 1531
   57  663 1597 1505  202 1952 2213  829 1266  464  508  449 1217  265
  712 1356  438   97 1790  100 1243  375 1551  993  887 1625 1093 1401
 1961  625  737 1654 2147  909 1659  550 1612 2050  824 1369 1849  547
 2189  165  199 2104   21 2166 1782  147 1629 1271 1989 1139 2103 1971
  537 1032 1409 1222 1365 1915  100  762 2089 1675  123 2207  285 2179
  407  854 1433 1760 1722 1318 1696 2094 1801 1297   49  259  480  315
  835  745 2187 1415 1119 1091  681  458  474 1834  110 1898 1067  191
 1527 1485 2039  115 1262  373  371 1404 1106  469  421  669 2169  385
 1540 1354  240  622 1451  581  501 2060    5 1317 1860  935  963 1783
  400]

# Feature Scaling

In [56]:
sc=StandardScaler()   #rescales the values from -1 to 1
x_train[:,1:]=sc.fit_transform(x_train[:,1:])
x_test[:,1:]=sc.fit_transform(x_test[:,1:])

In [57]:
print(x_train,"\n\n\n",x_test)

[[1663 1.4130550909113442 1.3713719067844863]
 [1906 0.29394282568133395 0.28430678415005795]
 [203 1.377593525673618 1.3871867392173016]
 ...
 [292 0.46930399906197956 0.44953073679431854]
 [185 -1.312575362092772 -1.3055050756072522]
 [1252 0.5933770081698148 0.6169186564411332]]


 [[756 -1.3369803761155625 -1.344526961461553]
 [1446 0.4427592542302612 0.4183128699237334]
 [928 1.4757936397353264 1.4780494852582065]
 ...
 [107 0.1569334975801299 0.15006733925129048]
 [136 1.0516706589572897 1.0455242366393735]
 [552 -1.317763073525825 -1.3272826293035291]]